*{ 
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'open + san + condensed';
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;

}
/*Header*/
header{
    width: 100%;
    height: 600px;
    background: #FF0099;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6e385a85, #5f184342), url(../imag/ConstruccioneS\ K.\ Y\ C..png) ;/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #6e385a85, #5f184342), url(../imag/ConstruccioneS\ K.\ Y\ C..png) ;/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
nav{
  background: #6e03699a;
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #031e33;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*About us*/
main .sobre-nosotros{
    padding: 30px 0 60px 0
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: center;
}

.imagen-about-us{
    width: 48%;
}
.imagen-planos{
    justify-content: center;
    display: flex;
    width: 500px;
    height: 400px;
    object-fit: cover;
    margin: auto;
}
.imagen-planos-modelos{
    justify-content: center;
    display: flex;
    width: 800px;
    height: 500px;
    object-fit: cover;
    margin: auto;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}
.contenido-textos-planos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background:#4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, .5);
    margin-right: 5px;
}
    
.contenido-textos-planos h3 span{
    background:#4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, .5);
    margin-left: 40%;
    margin-bottom: 5%;
    margin-top: 5%;
 
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}
.contenido-textos-planos p{
    padding: 30px 0px 30px 15px;
    font-weight: 400;
    text-align: center; 
    background-color: #ccc;
    width: 100%;
    font-size: 18px;
    

}

/*Galeria*/
.portafolio{
    background:#f2f2f2
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.imagen-port{
    width: 40%;
    margin: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, .5);

}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    transform: scale(0);
    background: hsla(273,91%, 27%, 0.7) ;
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.hover-galeria img{
    width: 50px;
    
}

.hover-galeria a{
    color: #fff;
    text-decoration:underline;
    

}
.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/*Clientes*/
.cards{
    display: flex;
    justify-content: space-evenly;

}

.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, .6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border:3px solid #fff;
    border-radius: 50%;
    display: block;

}

.cards .card > .contenido-texto-card{
    width: 60%;
    color:#fff;

}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/* Our team*/
.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;

}

.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;

}

.servicio-ind img{
    width:300px ;
    height:200px ;
    object-fit:contain;
    
    
    
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/*footer*/
footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;


}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: #ccc;
}

.content-foo{
    text-align: center;

}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
    
}

.content-foo p{
    color: #ccc;
}

h2{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #fff;

}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }
    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .sobre-nosotros .contenido-textos{
        width: 90%;
    }
    .imagen-about-us{
        width: 90%;
    }
    .imagen-planos{
        width: 90%;
    }
  
    /*Galeria*/
    .imagen-port{
        width: 44%;
    }
    /*Clientes*/
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /*Servicios*/
    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }
    
    .servicio-ind:nth-child(1),.servicio-ind:nth-child(2){
        margin-bottom: 60px;

    }

    .servicio-ind img{
        width: 90%;
    }

    /*footer*/
    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }
    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    h2{
        font-size: 20px;
    }
}
    @media screen and (max-width:500px){
        nav{
            text-align: center;
            padding: 30px 0 0 0;
        }
        nav > a{
            margin-right: 5px;

        }
         
        .textos-header h1{
            font-size: 27px;
        }

        .textos-header h2{
            font-size: 20px;
        }

        /*About us*/

        .imagen-about-us{
            margin-bottom: 60px;
            width: 99%;
        }
       .imagen-planos{
        margin-bottom: 60px;
        width: 99%;
       }
        .sobre-nosotros .contenido-textos{
            width: 95%;
        }

        /*galeria*/

        .imagen-port{
            width: 95%;
        }

        /*clientes*/

        .cards .card{
            height: 450px;
            display: flex;
            flex-direction: column;
            align-items: center;
           

        }

        .cards .card img{
            width: 90px;
            height: 90px;
        }
       
    }
    body{
        
        align-items: center;
        justify-content: center;
        padding: 30px;
    }
    
    img{
        max-width: 100%;
        
        
    }
    
    .container-all{
        position: relative;
        max-width: 1000px;
        width: 100%;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        
    
    }
    
    .slide{
        display: flex;
        transform: translate3d(0, 0, 0);
        transition: all 600ms;
        animation-name: autoplay;
        animation-duration: 6.5s;
        animation-direction: alternate;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
    
    .item-slide{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        flex-grow: 0;
        max-width: 100%;
    }
    
    .pagination{
        position: absolute;
        bottom: 20px;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .pagination-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid white;
        width: 16px;
        height: 16px;
        border-radius: 4px;
        overflow: hidden;
        cursor: pointer;
        background: rgba(255, 255, 255, 0.5);
        margin: 0 10px;
        text-align: center;
        transition: all 300ms;
    }
    
    .pagination-item:hover{
        transform: scale(2);
    }
    
    .pagination-item img{
        display: inline-block;
        max-width: none;
        height: 100%;
        transform: scale(1);
        opacity: 0;
        transition: all 300ms;
    }
    
    .pagination-item:hover img{
        opacity: 1;
        transform: scale(1);
    }
    
    
    input[id="1"]:checked ~ .slide{
        animation: none;
        transform: translate3d(0, 0, 0);
    }
    
    input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
        background: #fff;
    }
    
    input[id="2"]:checked ~ .slide{
        animation: none;
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    
    input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
        background: #fff;
    }
    
    
    input[id="3"]:checked ~ .slide{
        animation: none;
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
    
    input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
        background: #fff;
    }
    
    
    @keyframes autoplay{
        33%{
            transform: translate3d(calc(-100% * 0), 0, 0);
        }
        
        66%{
            transform: translate3d(calc(-100% * 1), 0, 0);
        }
        
        100%{
            transform: translate3d(calc(-100% * 2), 0, 0);
        }
    }
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
    .formulario-contacto{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        padding: 40px;
        background: linear-gradient(115deg, #0c1414 10%, #a34faa 90%);
      }
    .container{
      max-width: 800px;
      background: #fff;
      width: 800px;
      padding: 25px 40px 10px 40px;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    }
    .container .text{
      text-align: center;
      font-size: 35px;
      font-weight: 600;
      background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .container form{
      padding: 30px 0 0 0;
    }
    .container form .form-row{
      display: flex;
      margin: 32px 0;
    }
    form .form-row .input-data{
      width: 100%;
      height: 40px;
      margin: 0 20px;
      position: relative;
    }
    form .form-row .textarea{
      height: 70px;
    }
    .input-data input,
    .textarea textarea{
      display: block;
      width: 100%;
      height: 100%;
      border: none;
      font-size: 17px;
      border-bottom: 2px solid rgba(0,0,0, 0.12);
    }
    .input-data input:focus ~ label, .textarea textarea:focus ~ label,
    .input-data input:valid ~ label, .textarea textarea:valid ~ label{
      transform: translateY(-20px);
      font-size: 14px;
      color: #3498db;
    }
    .textarea textarea{
      resize: none;
      padding-top: 10px;
    }
    .input-data label{
      position: absolute;
      pointer-events: none;
      bottom: 10px;
      font-size: 16px;
      transition: all 0.3s ease;
    }
    .textarea label{
      width: 100%;
      bottom: 40px;
      background: #fff;
    }
    .input-data .underline{
      position: absolute;
      bottom: 0;
      height: 2px;
      width: 100%;
    }
    .input-data .underline:before{
      position: absolute;
      content: "";
      height: 2px;
      width: 100%;
      background: #3498db;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.3s ease;
    }
    .input-data input:focus ~ .underline:before,
    .input-data input:valid ~ .underline:before,
    .textarea textarea:focus ~ .underline:before,
    .textarea textarea:valid ~ .underline:before{
      transform: scale(1);
    }
    .submit-btn .input-data{
      overflow: hidden;
      height: 45px!important;
      width: 25%!important;
    }
    .submit-btn .input-data .inner{
      height: 100%;
      width: 300%;
      position: absolute;
      left: -100%;
      background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
      transition: all 0.4s;
    }
    .submit-btn .input-data:hover .inner{
      left: 0;
    }
    .submit-btn .input-data input{
      background: none;
      border: none;
      color: #fff;
      font-size: 17px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
      cursor: pointer;
      position: relative;
      z-index: 2;
    }
    @media (max-width: 700px) {
      .container .text{
        font-size: 30px;
      }
      .container form{
        padding: 10px 0 0 0;
      }
      .container form .form-row{
        display: block;
      }
      form .form-row .input-data{
        margin: 35px 0!important;
      }
      .submit-btn .input-data{
        width: 40%!important;
      }
    }
    